# IntelliJ IDEA files
.idea/*

# Generated PDFs and SVGs
*.pdf
*.svg
!*.verified.pdf

# Ruby gem packaging
*.gem
Gemfile.lock

# Node.js
node_modules/
package-lock.json
package.json

#cache dir
test/mathcache/
